{% extends 'base.html' %}

{% block title %} Create Tag {% endblock %}

{% block content %}
<div class="container">
    
    <h1 class="mt-5">Create Tag</h1>
    <form action="/tags/new" method="POST">
        <div class="form-group"></div>
            <label for="tag-name">Name</label>
            <input type="text" name="tag-name" id="tag-name" class="form-control">
            <button type="submit" class="btn btn-outline-primary btn-md mt-2" formaction="/tags" formmethod="get">Cancel</button>
            <button type="submit" class="btn btn-success btn-md mt-2">Save</button>
        </div>
    </form>
</div>
{% endblock %}