{% extends 'base.html' %}

{% block title %} Tag {% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5">{{tag.name}}</h1>
    <ul>
        {% for post in posts %}
        <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
        {% endfor %}
    </ul>
    <form action="/tags/{{tag.id}}/delete" method="POST">
        <button type="submit" class="btn btn-primary btn-md" formaction="/tags/{{tag.id}}/edit" formmethod="get">Edit</button>
        <button type="submit" class="btn btn-danger btn-md">Delete</button>
    </form>
</div>
{% endblock %}